a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  flex-direction: row;
  
}

li {
  font-weight: 500;
  list-style-type: none;
  margin: 0 1rem;
}

nav {
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
  align-items: center;
}

section {
  margin: 2rem;
  >img {
    position: absolute;
  }

}

.heroText {
  position: absolute;
  background-color: white; 
  border: 2px solid yellow;

  >h1 {
    font-size: 2rem;
  }

  >h2 {
    font-size: 1.5rem;
  }
}